h2.hh{

    margin-bottom: 15px;

    font-weight: bold;
    font-family: "宋体", "隶书";
    font-size: 23px;
    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;

    text-align: center;

}
.area{

}
.area2{
    font-family: 宋体;
    font-weight: bolder;
    font-size: 22px;
    color: red;

    background-color: #cad9ea;

}


.ppp{
    font-family: "华文新魏", "隶书";
    font-size: 25px;
    color: red;

    text-indent:2em;

    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;

}

.text_write{
    background-image: url("Photos/mes.png") ;
    background-repeat: no-repeat;
    background-size: 280px 280px;

    font-size: 25px;
    font-weight: bolder;
    font-family: "华文新魏", "隶书";
    color: #FF9900;

    /*//不能改变大小*/
    resize:none;

    margin-bottom: 0;

}
.forms{
    text-align: center;
}

#yes{
    margin-top: 8px;
    margin-right: 10px;
    font-family:华文新魏 ;
    font-weight: bolder;
    font-size: 16px;
}
#white{
    margin-top: 5%;
    margin-left: 0;

    overflow:auto;/*使div出现下拉框*/

}
#yes3{
    margin-top: 8px;
    font-family:华文新魏 ;
    font-weight: bolder;
    font-size: 16px;
}

/*美化按钮*/
.new_button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 5px 2px 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #00adee, #00678e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#00678e');

    margin-top: 8px;


}

.new_button:hover{
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#00678e), to(#0095cc));
    background: -moz-linear-gradient(top, #00678e, #0095cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00678e', endColorstr='#0095cc');
}