body{
    font-family: Verdana;
    font-size: 16px;
    margin: 0;/*边界*/
    text-align: center;
}
p{
    margin: 2px;
}
#Container{
    margin: 0 auto;/*边界margin:0 auto 设置对象上下间距为0，左右自动。*/
    width: 100%;
    height: 120%;
}
#Header_img{
    float: left;
    height: 458px;
    width: 15%;

}
/*#register{*/
/*    float: right;*/
/*    height: 558px;*/
/*    width: 15%;*/

/*    background-color: #00FF00;*/

/*}*/
#Header{
    float: left;
    height: 458px;
    width: 85%;

    /*padding-top: 28px;!* 配合height属性使用 *!*/

    background-color: rgb(230,230,230);
}

#PageBody{

    height: 560px;
}
#SideBar{
    float: left;/*表示向左浮动，比如多个div在一个页面上，默认情况是：一行一个div，但是只要在div的css中使用float：left，可以使一行有多个div，这样可以把网页划分成很多块*/
    width: 8%;
    height: 560px;

    position:fixed ;/**/

    margin-top: 300px;

}
#MainBody{
    float: right;
    width: 92%;
    height: 560px;

    /*overflow:auto;!*使div出现下拉框*!*/

    /*background: #cff;*/
}
#Footer{

    margin-top: 168px;
    padding-top: 5px;/**/

    height: 22px;
    background-color: rgb(230,230,230);
    text-align: center;
    font-family: "Courier New";
    font-size: 12px;
    width: 100%;

    position:fixed ;


}

#bookmark{
    text-align: center;

    margin-left: 350px;/*使div居中显示*/

}

img{
   float: left;
}
span{
    width: 50px;
    margin-top: 50px;
    font-size: 50px;
    font-family: "华文新魏";
    cursor: pointer;/**/
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 25px;
}

#menu{
    float: left;
    text-align: center;
    width: 80px;
    height: 380px;

    margin-top: 45px;

    padding-top: 5px;
    display: none;/*初始状态为不显示*/
    background-image: url("Photos/menu_bg.gif");

    background-size: cover;/**/
    /*background-repeat:no-repeat;*/

}

.menu_ul{
    font-size: 50px;
    font-family: "华文新魏", "隶书";
    font-weight: bolder;

    list-style: none;
    padding: 0;

    text-align: center;

    margin-top: 20px;

}
.menu_li{
    padding:7px;

    text-align: center;

    list-style-type: none;/*去除li前的小黑点*/

}
.menu_a{
    color: #000;
    text-decoration: none;/*不显示下划线*/

    font-size: 25px;

}
.menu_a:hover{
    color: #F90;
}
.font4 {

    font-family: "宋体", "隶书";
    font-size: 25px;
    text-shadow: 5px 5px 5px black, 0px 0px 2px red, 2px 2px 3px green;

    text-align: center;

}