<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <div id="foot" style="margin-bottom: 0%">
        <div class="link">
            <div class="linkbox"><span></span><ul>
                <li><a href="http://www.moe.gov.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 37775)">教育部</a></li>
                <li><a href="http://www.people.com.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 38597)">人民网</a></li>
                <li><a href="http://www.xinhuanet.com/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 38598)">新华网</a></li>
                <li><a href="http://www.gmw.cn" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 38599)">光明网</a></li>
                <li><a href="http://www.cctv.com/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 38600)">央视网</a></li>
                <li><a href="http://www.chinanews.com/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 38601)">中新网</a></li>
                <li><a href="http://www.jyb.cn" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 37776)">中国教育新闻网</a></li>
                <li><a href="http://www.pku.edu.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 37782)">北京大学</a></li>
                <li><a href="https://www.tsinghua.edu.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 37783)">清华大学</a></li>
                <li><a href="https://www.fudan.edu.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 37784)">复旦大学</a></li>
                <li><a href="http://www.zju.edu.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1430806855, 37785)">浙江大学</a></li>
            </ul></div></div>
    </div>
</div>

</html>